# Xcode
*.xcworkspace
xcuserdata

# OSX
.DS_Store

# Android
bin/
gen/
libs/
obj/
build.xml
local.properties
project.properties
proguard.cfg
proguard-project.txt

# Visual Studio
*.suo
*.ncb
*.sdf
*.opensdf
Release/
Debug/
ipch/
Projects/BitterSam1/android/.settings
[Tt]humbs.db
*.user